section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.buttons-fab {
  display: block;
  height: 170px;
  width: 90px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.button-add {
  bottom: 90px;
}

.container {
  width: 100%;
  height: 100%;
  border: 1px solid #555;
}
